{
  "branches": [
    {"name": "main" }, 
    {"name": "pre/rc", "prerelease": "rc", "channel": false},
    {"name": "pre/feature-name", "prerelease": "feature-name", "channel": false},
    {"name": "pre/service-name", "prerelease": "service-name", "channel": false}

  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/github",
      {
        "successComment": false,
        "failComment": false
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ]
  ]
}