{
  "branches": [
    {"name": "main"}, 
    {"name": "pre/rc", "prerelease": "rc", "channel": false},
    {"name": "test-*", "prerelease": true, "channel": false},
    {"name": "11.x.x", "channel": false}
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/github",
      {
        "successCommentCondition": true,
        "failComment": false
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ]
  ]
}
