{
  "branches": [
    {"name": "main"}, 
    {"name": "pre/rc", "prerelease": "rc", "channel": false},
    {"name": "test-*", "prerelease": true, "channel": false},
    {"name": "11.x.x", "channel": false}
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/github",
      {
        "successCommentCondition": true,
        "successComment": ":tada: This PR is included in version ${nextRelease.version} :tada:\n\nThe release is available on [GitHub release](../releases/tag/v${nextRelease.version})\n\n>",
        "releasedLabels":  ['releases/<%= nextRelease.version %>'],
        "failComment": false
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ]
  ]
}
